#mobileFooter {
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    padding : 15px;
    background: linear-gradient(269.84deg, #00CDB4 0%, rgba(0, 205, 180, 0.4) 100%);
    display: flex;
    flex-direction: column;
}

#mobileFooter > span {
    text-align: center;
    margin:5px;
    width: 100;
    font-size: 1.2rem;
    font-weight: bold;
}